<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../images/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <title>bARRo Ceramic · Care & Complaints</title>
    <meta name="description" content="Online and in-person pottery classes in Mendoza city. Sales of ceramic pieces, online or pick up at the workshop. Care & Complaints">
    <meta name="keywords" content="care & complanints, complaints, care.">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand title-barro" href="../index.html">
                <img class="logo" src="../images/logo.png" alt="logo" class="d-inline-block align-text-top">
                SOLEDAD · bARRo · Ceramic
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav justify-content-end style-page-sections"
                id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="./workshop.html">Workshop</a></li>
                            <li><a class="dropdown-item" href="./shop.html">Shop</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Help
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="https://api.whatsapp.com/send?phone=2615561759">Whatsapp</a></li>
                            <li><a class="dropdown-item" href="../index.html">barroceramic@gmail.com</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="care&complaints.html">Care &
                                    Complaints</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./login.html">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Section-Care & Complaints-->
    <section class="user-content section-cc">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-8">
                    <h3 class="style-cc-center"><strong>RECOMMENDATIONS FOR USE</strong></h3>
                    <p class="style-cc-justify">We are proud to know that our pieces are 100% handmade. Given their
                        handmade nature, we suggest:</p>
                    <ul>
                        <li>
                            <p class="style-cc-justify"><strong>Hand wash.</strong>Although they are dishwasher safe,
                                the pieces tend to deteriorate faster with this type of washing. &nbsp;</p>
                        </li>
                        <li>
                            <p class="style-cc-justify"><strong>Limit the use of microwaves.</strong> Although they are
                                suitable for microwaving, the shine of the piece may deteriorate over time.</p>
                        </li>
                    </ul>
                    <p class="style-cc-justify">&nbsp;</p>
                    <h3 class="style-cc-center"><strong>SHIPPING AND CLAIMS</strong></h3>
                    <ul>
                        <li>
                            <p class="style-cc-justify">If you received any broken or seriously damaged piece,
                                <strong>we accept claims up to 5&nbsp;days after the delivery&nbsp;of the order.
                                </strong>
                                Please write to us at barro.ceramic@gmail.com and to our WhatsApp so that we can resolve
                                the&nbsp;replacement as soon as possible. In case we do not have stock of the purchased
                                product, BARRO&nbsp;will propose&nbsp;
                                an alternative to fulfill the order on time.</p>
                        </li>
                        <li>
                            <p class="style-cc-justify"><strong>Attention CABA and GBA orders - </strong>We have a
                                logistics service that takes the products packed, door to door in a vehicle. This allows
                                us to ensure that the parts arrive safely and without transport damage. For this reason,
                                <strong>
                                    we will not accept quality claims on orders that have been received by
                                    intermediaries (porters, security, foreman, etc.), </strong>since we cannot ensure
                                the condition of the products before they are delivered to our final customer. We
                                suggest you receive the order yourself and open it at the time to ensure that all your
                                pieces are in perfect condition. &nbsp;</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <!--Section-Footer-->
    <section class="container_footer">
        <div class="container" style="text-align: center;">
            <div class="text-footer">bARRo Ceramic</div>
        </div>
    </section>


    <footer class="page-footer font-small special-color-dark pt-4">

        <div class="container">
            <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                    <a href="" class="btn-floating btn-fb mx-1" target="_blank">
                        <i class="fab fa-facebook-f"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.instagram.com/barroceramicas/?hl=es-la" class="btn-floating btn-instagram mx-1"
                        target="_blank">
                        <i class="fab fa-instagram"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://open.spotify.com/playlist/3FMtvPycyJoN90sYKciVb9?si=4521b663772f42c3"
                        class="btn-floating btn-spotify mx-1" target="_blank">
                        <i class="fab fa-spotify"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="" class="btn-floating btn-youtube mx-1" target="_blank">
                        <i class="fab fa-youtube"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://api.whatsapp.com/send?phone=2615561759" class="btn-floating btn-whatsapp mx-1"
                        target="_blank">
                        <i class="fab fa-whatsapp"> </i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-copyright text-centers-footer text-copyright py-3 ">
            <div class="container" style="text-align: center;">
                Copyright (c) - Created by Carla A. Antúnez - 2022
            </div>
        </div>
        <div>
            <div class="container" style="text-align: end;">
                <li class="fa">&#xf015<a class="lista_footer text-go" footer href="#">Go to top</a>
            </div>
        </div>

    </footer>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


</body>

</html>